<h1>{{ pageTitle }}</h1>
{% include 'return-to-accounts-page.twig' %}
<a class="reportLink" href="/account/show-transactions?id={{ accountId }}">
  <img src="/images/table.png">&nbsp;&nbsp;Transaction Listing
</a><br>
<br>
{% if assets|length > 0 %}
<table id="stockAssets">
 <tr>
  <th class="ticker">Ticker</th>
  <th class="latestPrice">Latest Price</th>
  <th class="shares">Shares</th>
  <th class="totalValue">Total Value</th>
  <th class="avgPrice">Avg Price</th>
  <th class="pl">Profit / Loss</th>
 </tr>
{% for id, info in assets %}
 <tr class="{% if id is odd %}odd{% endif %}">
  <td class="ticker">{{ info.ticker }}</td>
  <td class="latestPrice">${{ info.price|number_format(2) }}</td>
  <td class="shares">{{ info.qty }}</td>
  <td class="totalValue">${{ (info.qty * info.price)|number_format(2) }}</td>
  <td class="avgPrice">${{ info.avgPrice|number_format(2) }}</td>
  <td class="pl {% if info.net < 0 %}red{% else %}green{% endif %}">${{ info.net|number_format(2) }}
 </tr>
{% endfor %}
</table>
{% endif %}