<h1>{{ pageTitle }}</h1>
<script>window.items = {{ items|json_encode|raw }};</script>
{% include 'return-to-accounts-page.twig' %}
<a href="javascript:showNewBudgetItem()" id="addBudgetItem"><img style="vertical-align:middle" src="/images/add.png">&nbsp; Add Budget Item</a><br>
<br>
{% include 'add-budget-item.twig' %}
<table>
<tr><td id="leftSide">
{% if income|length > 0 %}
{% set incomeTotal = 0 %}
<b>Income</b>
<table id="cashflowIncome">
{% for i, info in income %}
<tr class="{% if i is odd %}odd{% endif %}">
 <td class="incomeName">{{ info.name }}</td>
 <td class="amount">
  $ <a class="total" onclick="editBudgetItem({{ info.id }})">{{ info.amount|number_format(2) }}</a>
 </td>
</tr>
{% set incomeTotal = incomeTotal + info.amount %}
{% endfor %}
{% if income|length > 1 %}
<tr>
 <td></td>
 <td class="amount"><b>${{ incomeTotal|number_format(2) }}</b></td>
</tr>
{% endif %}
</table>
{% endif %}
<br><br>
{% if fixedExpenses|length > 0 %}
{% set fixedExpenseTotal = 0 %}
<b>Fixed Expenses</b>
<table id="cashflowFixedExpense">
{% for i, info in fixedExpenses %}
<tr class="{% if i is odd %}odd{% endif %}">
 <td class="expenseName">{{ info.name }}</td>
 <td class="amount">
  $ <a class="total" onclick="editBudgetItem({{ info.id }})">{{ info.amount|number_format(2) }}</a>
 </td>
</tr>
{% set fixedExpenseTotal = fixedExpenseTotal + info.amount %}
{% endfor %}
{% if fixedExpenses|length > 1 %}
<tr>
 <td></td>
 <td class="amount"><b>${{ fixedExpenseTotal|number_format(2) }}</b></td>
</tr>
{% endif %}
</table>
{% endif %}
<br><br>
{% if variableExpenses|length > 0 %}
{% set variableExpenseTotal = 0 %}
<b>Variable Expenses</b>
<table id="cashflowVariableExpense">
{% for i, info in variableExpenses %}
<tr class="{% if i is odd %}odd{% endif %}">
 <td class="expenseName">{{ info.name }}</td>
 <td class="amount">
  $ <a class="total" onclick="editBudgetItem({{ info.id }})">{{ info.amount|number_format(2) }}</a>
 </td>
</tr>
{% set variableExpenseTotal = variableExpenseTotal + info.amount %}
{% endfor %}
{% if variableExpenses|length > 1 %}
<tr>
 <td></td>
 <td class="amount"><b>${{ variableExpenseTotal|number_format(2) }}</b></td>
</tr>
{% endif %}
</table>
{% endif %}
<br><br>
{% set expenseTotal = fixedExpenseTotal + variableExpenseTotal %}
{% set netCashflow = incomeTotal - expenseTotal %}
<table id="cashflow">
 <tr>
  <td class="totalLabel">Total Income:</td>
  <td class="totalAmount">${{ incomeTotal|number_format(2) }}</td>
 </tr>
 <tr>
  <td class="totalLabel">Total Expenses:</td>
  <td class="totalAmount">${{ expenseTotal|number_format(2) }}</td>
 </tr>
 <tr>
  <td class="totalLabel">Net:</td>
  <td class="totalAmount">${{ netCashflow|number_format(2) }}</td>
 </tr>
</table>
</td>
<td id="rightSide"><div id="cashflowChart">
</td></tr></table>
</div>
<script type="text/javascript">
$(function () {
  var data = [{ data: [[0,{{ incomeTotal|raw }}]] },
              { data: [[1,{{ expenseTotal|raw }}]] }];
  var options = {
    series: { stack: 0,
              lines: { show: false, steps: false },
              bars: { show:true, barWidth: 0.9, align: 'center' }
    },
    yaxis: { tickLength:0 },
    xaxis: { tickLength:0, ticks: [[0, 'Income'], [1, 'Expenses']]}
  };
  $.plot($("#cashflowChart"), data, options);
});
</script>